# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# PyCharm
.idea/

# Build Files
build/
dist/
*.egg-info/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type Checking
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Misc
.cache/

#Ignore these files for now
sarvam.py
test.py